.chat-container {
    height: auto;
  }
  
  .message-container {
    height: auto;
  }
  
  @media (max-width: 1024px) {
    .chat-container {
      height: 450px;
    }
  
    .message-container {
      height: 450px;
    }
  }
  